# Ignore everything..
/*
/*/
# Except...

# Bash stuff
!.bash_profile
!.bashrc
!.profile

.bash_profile.*

# Git aliases, identification info
!.gitconfig
# The .gitignore of this repository.
!.gitignore

# The real business here.. Vim & Emacs.
!.vimrc
!.doom.d/

# Bar and window manager config.
!.xmobar/
!.xmonad/*.hs

# To make caps lock a meta key instead.
!.Xmodmap

# Terminal (uvrxt) config
!.Xresources
!/.Xresources.d/

#
!/.config/monitors.xml
!/.config/monitors.xml
