set surround
set commentary

let mapleader = " "

set scrolloff=5

" Use system clipboard
set clipboard+=unnamed

" ----- Misc & Generic binds -----
inoremap qj <esc>
nnoremap ; :

" ----- Searching -----
set incsearch
set hlsearch
" Esc removes previously highlighted search results
nnoremap <silent> <esc> :noh<cr>
set smartcase

" ----- Vim Settings -----
" STUPID BELL
set visualbell
set noerrorbells

" Case insensitive search (except when capital in the search)
set smartcase

" ----- Files & Search -----
nmap <leader><leader> <Action>(GotoFile)
nmap <leader>/ <Action>(FindInPath)
" Need binding to navigate between files from current dir :c.
" nmap <leader>. <Action>()
nmap <leader>fr <Action>(RecentChangedFiles)


" ----- Splits & Panes -----
" Use | or _ to open a vertical split or horizontal split.
nmap <Bar> <Action>(MoveTabRight)
nmap _ <Action>(MoveTabDown)

" Move around splits with <Ctrl-hjkl>.
nnoremap <C-j> <C-W><C-J>
"nnoremap <C-k> <C-W><C-K>
nnoremap <C-l> <C-W><C-L>
nnoremap <C-h> <C-W><C-H>

" Or leader-w-hjkl
nnoremap <leader>wj <C-W><C-J>
nnoremap <leader>wk <C-W><C-K>
nnoremap <leader>wl <C-W><C-L>
nnoremap <leader>wh <C-W><C-H>
" " Move windows with leader-w-HJKL
" nnoremap <leader>wJ <C-W>J
" nnoremap <leader>wK <C-W>K
" nnoremap <leader>wL <C-W>L
" nnoremap <leader>wH <C-W>H

" Go to tab...
nmap <leader>bn <Action>(NextTab)
nmap <leader>bp <Action>(PreviousTab)
nmap <C-1> <Action>(GoToTab1)
nmap <C-2> <Action>(GoToTab2)
nmap <C-3> <Action>(GoToTab3)
nmap <C-4> <Action>(GoToTab4)
nmap <C-5> <Action>(GoToTab5)
nmap <C-6> <Action>(GoToTab6)
nmap <C-7> <Action>(GoToTab7)
nmap <C-8> <Action>(GoToTab8)
nmap <C-9> <Action>(GoToTab9)

"nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
nmap <leader>tz <Action>(ToggleZenMode)
nmap <leader>tn <Action>(EditorToggleShowLineNumbers)

" Move current tab between splits.
nmap <leader>wt <Action>(MoveEditorToOppositeTabGroup)

" ----- Refactoring -----
" Delete key for comment/uncomment
nmap <BS> <Action>(CommentByLineComment)
vmap <BS> <Action>(CommentByLineComment)

" Rename variable
nmap <leader>r <Action>(RenameElement)

" ----- DEBUGGING ------
"Start/stop
nmap <leader>dd <Action>(Debug)
nmap <leader>dq <Action>(Stop)
nmap <leader>dc <Action>(Resume)
" Run/Step
nmap <leader>dj <Action>(StepOver)
nmap <leader>dk <Action>(StepInto)
nmap <leader>dl <Action>(StepOut)
nmap <leader>dr <Action>(RunToCursor)
" Breakpoints
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>dB <Action>(ViewBreakpoints)
" Ui/context helpers
nmap <leader>df <Action>(DebugFocus)
nmap <leader>de <Action>(EvaluateExpression)
nmap <leader>dh <Action>(ShowExecutionPoint)
